:root {
  --main-text-width: 850px;
}

.textManager {
  width: var(--main-text-width);
  overflow: hidden;
}

.templateManager {
  width: calc(var(--main-text-width) / 2);
  float: left;
}

.resultManager {
  width: calc(var(--main-text-width) / 2);
  float: right;
}

textarea {
  width: calc(var(--main-text-width) / 2 - 10px);
  resize: none;
}

input[type="text"] {
    width: calc(var(--main-text-width) / 4 - 10px);
    height: 30px;
}

input[type="submit"] {
    width: calc(var(--main-text-width) / 4 - 10px);
    height: 30px;
}

button {
    width: calc(var(--main-text-width) / 2 - 4px);
    height: 30px;
}
